@font-face {
  font-family: 'Cabinet Grotesk';
  src: url('/CabinetGrotesk-Variable.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Satoshi';
  src: url('/Satoshi-Variable.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@import "tailwindcss";

@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-family: 'Satoshi', 'Cabinet Grotesk', sans-serif;
  --color-primary: var(--color-neutral-900);
  --color-secondary: var(--color-neutral-800);
}

.dark {
  --color-primary: var(--color-neutral-100);
  --color-secondary: var(--color-neutral-200);
}

body {
  font-family: var(--font-family);
}
